<a href="https://colab.research.google.com/github/sitthatkaja/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Load data

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data1= pd.read_csv('/content/drive/MyDrive/ovrdt data/alldb.csv')  ## สร้างตัวแปร รับค่าข้อมูลที่อยู่ใน Google drive
data1 ## แสดงข้อมูล

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [ ]:
data2= pd.read_excel('/content/drive/MyDrive/ovrdt data/hospital_list.xlsx')  ## สร้างตัวแปร รับค่าข้อมูลที่อยู่ใน Google drive
data2 ## แสดงข้อมูล

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

# Data processing

## Data 1

### Data1 clean1

In [ ]:

TF1=list() ## กำหนด TF ให้เป็น list ว่าง เพื่อใช้เติมค่า loop
for each_row in data1.iterrows(): ## loop each_row ใน data1
    if len(str(each_row[1]['user']))== 5 : #สร้างเงื่อนไข user ที่มีจำนวนตัวอักษรเท่ากับ 5
        if str(each_row[1]['user']) <= '99999' : #หาก user มีค่า น้อยกว่า 100000
            TF1.append(True) ## หากเงื่อนไขถูกต้องให้เพิ่มเข้าไปใน TF
        elif str(each_row[1]['user']) >= '99999' : #หาก user มีค่า มากกว่า 100000
            TF1.append(False) ## หากเงื่อนไขไม่ถูกต้อง ไม่ให้เพิ่มเข้าไปใน TF
    else:
        TF1.append(False) ## หากเงื่อนไขไม่ถูกต้อง ไม่ให้เพิ่มเข้าไปใน TF

data1[TF1] ## แสดงผล

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
40017,40017,12345,zgvicawbkg.png,NaN,NaN,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),NaN,xxxxx,NaN,NaN

In [ ]:
df1 =data1[TF1]

In [ ]:
df1_clean = df1[df1['user']!= '6724-']  ##พบค่าผิดปกติ คือ 6724- จึงทำการตัดออก

### Data 1 clean2

In [ ]:
TF2=list() ## กำหนด TF ให้เป็น list ว่าง เพื่อใช้เติมค่า loop
for each_row in df1_clean.iterrows(): ## loop each_row ใน data1
    if len(str(each_row[1]['site']))== 5 : #สร้างเงื่อนไข user ที่มีจำนวนตัวอักษรเท่ากับ 5
        if str(each_row[1]['site']) <= '99999' : #หาก user มีค่า น้อยกว่า 100000
            TF2.append(True) ## หากเงื่อนไขถูกต้องให้เพิ่มเข้าไปใน TF
        elif str(each_row[1]['site']) >= '99999' : #หาก user มีค่า มากกว่า 100000
            TF2.append(False) ## หากเงื่อนไขไม่ถูกต้อง ไม่ให้เพิ่มเข้าไปใน TF
    else:
        TF2.append(False) ## หากเงื่อนไขไม่ถูกต้อง ไม่ให้เพิ่มเข้าไปใน TF

df1_clean[TF2] ## แสดงผล

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
5,5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,NaN,data is not completed,data is not completed
7,7,04857,73E96EE6-7660-4204-9914-92112603C514,NaN,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,NaN,data is not completed,data is not completed
11,11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,NaN,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,NaN,data is not completed,data is not completed
12,12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,NaN,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

In [ ]:
df1_clean2 = df1_clean[TF2]

### Data 1 clean 3

In [ ]:
TF3=list() ## กำหนด TF ให้เป็น list ว่าง เพื่อใช้เติมค่า loop
for each_row in df1_clean2.iterrows(): ## loop each_row ใน data1
    if len(str(each_row[1]['PartitionKey']))== 5 : #สร้างเงื่อนไข user ที่มีจำนวนตัวอักษรเท่ากับ 5
        if str(each_row[1]['PartitionKey']) <= '99999' :  #หาก user มีค่า น้อยกว่า 100000
            TF3.append(True) ## หากเงื่อนไขถูกต้องให้เพิ่มเข้าไปใน TF
        elif str(each_row[1]['PartitionKey']) >= '99999' : #หาก user มีค่า มากกว่า 100000
            TF3.append(False) ## หากเงื่อนไขไม่ถูกต้อง ไม่ให้เพิ่มเข้าไปใน TF
    else:
        TF3.append(False) ## หากเงื่อนไขไม่ถูกต้อง ไม่ให้เพิ่มเข้าไปใน TF

df1_clean2[TF3] ## แสดงผล

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
185,185,85879,shmpdrmtgc.png,NaN,2022-03-24,0,OPPO CPH2293,05194,13:08:39,มีตะกอน,NaN,0000,NaN,NaN
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,00000,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),NaN,00001,นางสาว,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),NaN,00001,นาง,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),NaN,00001,นาง,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

### Data missing

In [ ]:
data1_no_dropna = df1_clean2[TF3]

In [ ]:
data1_no_dropna

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
185,185,85879,shmpdrmtgc.png,NaN,2022-03-24,0,OPPO CPH2293,05194,13:08:39,มีตะกอน,NaN,0000,NaN,NaN
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,00000,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),NaN,00001,นางสาว,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),NaN,00001,นาง,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),NaN,00001,นาง,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

In [ ]:
data1_dropna =data1_no_dropna.dropna(subset=['user','site','PartitionKey'])  ## dropna เฉพาะคอลัมน์  'user','site','PartitionKey'
data1_dropna

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
185,185,85879,shmpdrmtgc.png,NaN,2022-03-24,0,OPPO CPH2293,05194,13:08:39,มีตะกอน,NaN,0000,NaN,NaN
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,00000,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),NaN,00001,นางสาว,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),NaN,00001,นาง,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),NaN,00001,นาง,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

In [ ]:
data1_dropna.isnull().any() ## เช็คค่า missing

Unnamed: 0      False
user            False
RowKey          False
care             True
date             True
ov               True
phone           False
site            False
time             True
urine            True
pid              True
PartitionKey    False
title            True
age              True
dtype: bool

### out of unique data

In [ ]:
data1_use_1=data1_dropna[data1_dropna['site']!='043.1']  ##แก้ไขค่าผิดปกติ
data1_use_1

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
185,185,85879,shmpdrmtgc.png,NaN,2022-03-24,0,OPPO CPH2293,05194,13:08:39,มีตะกอน,NaN,0000,NaN,NaN
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,00000,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),NaN,00001,นางสาว,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),NaN,00001,นาง,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),NaN,00001,นาง,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

In [ ]:
data1_use=data1_use_1[data1_use_1['PartitionKey']!='002.5'] ##แก้ไขค่าผิดปกติ
data1_use

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
185,185,85879,shmpdrmtgc.png,NaN,2022-03-24,0,OPPO CPH2293,05194,13:08:39,มีตะกอน,NaN,0000,NaN,NaN
190,190,06223,kfpwuaqldj.png,NaN,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,00000,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),NaN,00001,นางสาว,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),NaN,00001,นาง,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),NaN,00001,นาง,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

## Data 2

### Data2 clean1

In [ ]:

TF4=list() ## กำหนด TF ให้เป็น list ว่าง เพื่อใช้เติมค่า loop
for each_row in data2.iterrows(): ## loop each_row ใน data1
    if len(str(each_row[1]['hcode']))== 5 : #สร้างเงื่อนไข user ที่มีจำนวนตัวอักษรเท่ากับ 5
        if str(each_row[1]['hcode']) <= '99999' :  #หาก user มีค่า น้อยกว่า 100000
            TF4.append(True) ## หากเงื่อนไขถูกต้องให้เพิ่มเข้าไปใน TF
        elif str(each_row[1]['hcode']) >= '99999' : #หาก user มีค่า มากกว่า 100000
            TF4.append(False) ## หากเงื่อนไขไม่ถูกต้อง ไม่ให้เพิ่มเข้าไปใน TF
    else:
        TF4.append(False) ## หากเงื่อนไขไม่ถูกต้อง ไม่ให้เพิ่มเข้าไปใน TF

data2[TF4] ## แสดงผล

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [ ]:
data2_clean=data2[TF4]

### out of unique data

In [ ]:
data2_use1=data2_clean[data2_clean['hcode']!='2475x'] ##แก้ไขค่าผิดปกติ
data2_use1

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [ ]:
data2_use=data2_use1[data2_use1['hcode']!='2560x'] ##แก้ไขค่าผิดปกติ
data2_use

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

# Change dtype

##Data 1

In [ ]:
data1_use.info() ##เช็คข้อมูล dtype แต่ละคอลัมน์

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38386 entries, 185 to 39816
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    38386 non-null  int64
 1   user          38386 non-null  object
 2   RowKey        38386 non-null  object
 3   care          0 non-null      object
 4   date          38104 non-null  object
 5   ov            38175 non-null  object
 6   phone         38386 non-null  object
 7   site          38386 non-null  object
 8   time          38103 non-null  object
 9   urine         38272 non-null  object
 10  pid           0 non-null      object
 11  PartitionKey  38386 non-null  object
 12  title         37976 non-null  object
 13  age           37878 non-null  object
dtypes: int64(1), object(13)
memory usage: 4.4+ MB

In [ ]:
data1_use['time'] = pd.to_datetime(data1_use['time'],format='%H:%M%:%S',errors='ignore') ##แก้ dtype คอลัมน์ time

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data1_use['date'] = pd.to_datetime(data1_use['date'],format='%Y/%m/%d') ##แก้ dtype คอลัมน์ date

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data1_use['phone']=data1_use['phone'].astype('string') ##แก้ dtype คอลัมน์ phone

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data1_use['urine']=data1_use['urine'].astype('string') ##แก้ dtype คอลัมน์ urine

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data1_use['RowKey']=data1_use['RowKey'].astype('string') ##แก้ dtype คอลัมน์ RowKey

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data1_use['user']=data1_use['user'].astype('int64') ##แก้ dtype คอลัมน์ user

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data1_use['site']=data1_use['site'].astype('int64') ##แก้ dtype คอลัมน์ site

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data1_use['PartitionKey']=data1_use['PartitionKey'].astype('int64') ##แก้ dtype คอลัมน์ PartitionKey

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data1_use.info() ## เช็คข้อมูลแต่ละคอลัมน์

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38386 entries, 185 to 39816
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    38386 non-null  int64
 1   user          38386 non-null  int64
 2   RowKey        38386 non-null  string
 3   care          0 non-null      object
 4   date          38104 non-null  datetime64[ns]
 5   ov            38175 non-null  object
 6   phone         38386 non-null  string
 7   site          38386 non-null  int64
 8   time          38103 non-null  object
 9   urine         38272 non-null  string
 10  pid           0 non-null      object
 11  PartitionKey  38386 non-null  int64
 12  title         37976 non-null  object
 13  age           37878 non-null  object
dtypes: datetime64[ns](1), int64(4), object(6), string(3)
memory usage: 4.4+ MB

In [ ]:
data1_use ## แสดงตาราง

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
185,185,85879,shmpdrmtgc.png,NaN,2022-03-24,0,OPPO CPH2293,5194,13:08:39,มีตะกอน,NaN,0,NaN,NaN
190,190,6223,kfpwuaqldj.png,NaN,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),NaN,0,NaN,NaN
191,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),NaN,1,นางสาว,47
192,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),NaN,1,นาง,41
193,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),NaN,1,นาง,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39812,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,NaN,99999,NaN,NaN
39813,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,NaN,99999,NaN,NaN
39814,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",NaN,99999,NaN,NaN
39815,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),NaN,99999,NaN,NaN
39816,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),NaN,99999,NaN,NaN

## Data 2

In [ ]:
data2_use.info() ## เช็คข้อมูลแต่ละคอลัมน์

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17101 entries, 0 to 17102
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hcode          17101 non-null  object
 1   name           17100 non-null  object
 2   zone_code      17101 non-null  int64
 3   zone_name      17097 non-null  object
 4   provincecode   17100 non-null  float64
 5   province       17101 non-null  object
 6   amphurcode     17099 non-null  float64
 7   amphur         17099 non-null  object
 8   tamboncode     16933 non-null  float64
 9   tambon         16892 non-null  object
 10  code4          17100 non-null  float64
 11  name5          17098 non-null  object
 12  code9          11809 non-null  float64
 13  name10         11809 non-null  object
 14  short_thai     17095 non-null  object
 15  short_english  17095 non-null  object
dtypes: float64(5), int64(1), object(10)
memory usage: 2.2+ MB

In [ ]:
data2_use['hcode']=data2_use['hcode'].astype('int64') ## แก้ dtype คอลัมน์ hcode

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

# Merge Table

In [ ]:
df_merge = data1_use.merge(data2_use,how='left',left_on='site',right_on='hcode') ## เชื่อมตาราง data1_use กับ data2_use ด้วยคีย์ site และ hcode
df_merge  ## แสดงตาราง

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,185,85879,shmpdrmtgc.png,NaN,2022-03-24,0,OPPO CPH2293,5194,13:08:39,มีตะกอน,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,รอ,RET
1,190,6223,kfpwuaqldj.png,NaN,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,NaN,NaN,ขก,KKN
2,191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,NaN,2022-03-30,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
3,192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,NaN,2022-03-30,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
4,193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,NaN,2022-03-30,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38381,39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,NaN,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38382,39813,99999,lnlohgqckf.png,NaN,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38383,39814,99999,vkdocpmjiv.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38384,39815,99999,vrvyfnvayq.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38385,39816,99999,zuhbtvyrce.png,NaN,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Export

In [ ]:
data_processing=df_merge[['user','hcode','name','province','amphur','date','time','ov','phone','urine']]  ##เลือกคอลัมน์ที่ต้องการ
data_processing  ## แสดงตาราง

,user,hcode,name,province,amphur,date,time,ov,phone,urine
0,85879,5194.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองหว้า ตำบลกก...,ร้อยเอ็ด,หนองพอก,2022-03-24,13:08:39,0,OPPO CPH2293,มีตะกอน
1,6223,13777.0,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,ขอนแก่น,เมืองขอนแก่น,2022-03-23,16:31:45,0,Xiaomi 21081111RG,ปกติ (เหลืองใส)
2,12015,6307.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,อุตรดิตถ์,พิชัย,2022-03-30,14:46:08,4,"iPhone12,3",ปกติ (เหลืองใส)
3,91811,5328.0,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,กาฬสินธุ์,ฆ้องชัย,2022-03-30,15:27:45,4,"iPhone14,3",ปกติ (เหลืองใส)
4,95821,6302.0,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,อุตรดิตถ์,ฟากท่า,2022-03-30,10:16:46,3,"iPhone13,4",ปกติ (เหลืองใส)
...,...,...,...,...,...,...,...,...,...,...
38381,99999,NaN,NaN,NaN,NaN,2022-03-11,11:36:34,1,"iPhone14,2",ขุ่น
38382,99999,NaN,NaN,NaN,NaN,2022-03-10,18:10:29,0,Samsung SM-G998B,มีตะกอน
38383,99999,NaN,NaN,NaN,NaN,2022-03-10,12:14:41,1,Samsung SM-G998B,"ขุ่น, มีเม็ดเลือดแดง"
38384,99999,NaN,NaN,NaN,NaN,2022-03-10,13:58:01,1,Samsung SM-G998B,ปกติ (เหลืองใส)
38385,99999,NaN,NaN,NaN,NaN,2022-03-10,13:57:58,1,Samsung SM-G998B,ปกติ (เหลืองใส)

In [ ]:
data_processing.shape  ##เช็คขนาดของตาราง

(38386, 10)

In [ ]:
data_complete = data_processing.dropna() ##กำจัด missing
data_complete.shape ##เช็คขนาดของตาราง

(37825, 10)

In [ ]:
print(f'ก่อน dropna {data_processing.shape}') ##เช็คขนาดของตารางเดิม
print(f'ก่อน dropna{data_complete.shape}') ##เช็คขนาดของตารางใหม่

ก่อน dropna (38386, 10)
ก่อน dropna(37825, 10)

In [ ]:
data_complete.to_csv('Data_complete.csv',encoding='utf-8') ## Export ไฟล์

# Dashboard's Link

https://datastudio.google.com/reporting/aa2b12ae-e4f4-40d8-aff7-b55b1265c678